<div class="table-responsive">
  <table class="table table-striped">
	<thead><tr><th>#</th>
			<th>Club</th>
			<th>Points</th>
			<th>Played</th>
			<th>Win</th>
			<th>Draw</th>
			<th>Lose</th>
			<th>Scored</th>
			<th>Conceded</th>
			<th>Diff.</th>
			<th>Bonus</th>
		</tr></thead><tbody><tr><td>1</td>
				<td>RC SCHILDE</td>
				<td>19</td>
				<td>4</td>
				<td>4</td>
				<td>0</td>
				<td>0</td>
				<td>217</td>
				<td>43</td>
				<td>174</td>
				<td>3</td>
			</tr><tr><td>2</td>
				<td>BRUSSELS CITIZENS RUGBY</td>
				<td>19</td>
				<td>4</td>
				<td>4</td>
				<td>0</td>
				<td>0</td>
				<td>123</td>
				<td>24</td>
				<td>99</td>
				<td>3</td>
			</tr><tr><td>3</td>
				<td>GENT RFC</td>
				<td>15</td>
				<td>4</td>
				<td>3</td>
				<td>0</td>
				<td>1</td>
				<td>94</td>
				<td>38</td>
				<td>56</td>
				<td>3</td>
			</tr><tr class="ourClub"><td>4</td>
				<td>BBRFC CELTIC</td>
				<td>14</td>
				<td>4</td>
				<td>3</td>
				<td>0</td>
				<td>1</td>
				<td>80</td>
				<td>47</td>
				<td>33</td>
				<td>2</td>
			</tr><tr><td>5</td>
				<td>RUGBY MECHELEN</td>
				<td>10</td>
				<td>4</td>
				<td>2</td>
				<td>0</td>
				<td>2</td>
				<td>133</td>
				<td>73</td>
				<td>60</td>
				<td>2</td>
			</tr><tr><td>6</td>
				<td>BW EST</td>
				<td>9</td>
				<td>4</td>
				<td>2</td>
				<td>0</td>
				<td>2</td>
				<td>91</td>
				<td>108</td>
				<td>-17</td>
				<td>1</td>
			</tr><tr><td>7</td>
				<td>BRUGSCHE RC</td>
				<td>7</td>
				<td>4</td>
				<td>1</td>
				<td>0</td>
				<td>3</td>
				<td>105</td>
				<td>110</td>
				<td>-5</td>
				<td>3</td>
			</tr><tr><td>8</td>
				<td>KIBUBU RUGBY</td>
				<td>6</td>
				<td>4</td>
				<td>1</td>
				<td>0</td>
				<td>3</td>
				<td>69</td>
				<td>108</td>
				<td>-39</td>
				<td>2</td>
			</tr><tr><td>9</td>
				<td>WAREGEM</td>
				<td>1</td>
				<td>4</td>
				<td>0</td>
				<td>0</td>
				<td>4</td>
				<td>30</td>
				<td>195</td>
				<td>-165</td>
				<td>1</td>
			</tr><tr><td>10</td>
				<td>LAAKDAL</td>
				<td>0</td>
				<td>4</td>
				<td>0</td>
				<td>0</td>
				<td>4</td>
				<td>31</td>
				<td>227</td>
				<td>-196</td>
				<td>0</td>
			</tr></tbody></table>
</div>