<div class="table-responsive">
  <table class="table table-striped">
<thead><tr>
<th>#</th>
<th>Club</th>
<th>Points</th>
<th>Played</th>
<th>Win</th>
<th>Draw</th>
<th>Lose</th>
<th>Scored</th>
<th>Conceded</th>
<th>Diff</th>
<th/></tr></thead>
<tbody><tr><td>1</td><td>Meetjesland</td><td>31</td><td>8</td><td>6</td><td>0</td><td>2</td><td>332</td><td>104</td><td>228</td><td/></tr><tr><td>2</td><td>Gent Dragons</td><td>26</td><td>8</td><td>6</td><td>0</td><td>2</td><td>179</td><td>136</td><td>43</td><td/></tr><tr><td>3</td><td>Mighty Roosters</td><td>16</td><td>8</td><td>3</td><td>0</td><td>5</td><td>174</td><td>305</td><td>-131</td><td/></tr><tr><td>4</td><td>Mechelen 2</td><td>10</td><td>7</td><td>2</td><td>0</td><td>5</td><td>208</td><td>254</td><td>-46</td><td/></tr><tr class="ourClub"><td>5</td><td>BC Expendables</td><td>10</td><td>7</td><td>2</td><td>0</td><td>5</td><td>93</td><td>187</td><td>-94</td><td/></tr></tbody>




</table>
</div>