<div class="table-responsive">
  <table class="table table-striped">
	<thead><tr><th>#</th>
			<th>Club</th>
			<th>Points</th>
			<th>Played</th>
			<th>Win</th>
			<th>Draw</th>
			<th>Lose</th>
			<th>Scored</th>
			<th>Conceded</th>
			<th>Diff.</th>
			<th>Bonus</th>
		</tr></thead><tbody><tr class="ourClub"><td>1</td>
				<td>BBRFC CELTIC</td>
				<td>10</td>
				<td>2</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>60</td>
				<td>5</td>
				<td>55</td>
				<td>2</td>
			</tr><tr><td>2</td>
				<td>RHINOS OUDENAARDE</td>
				<td>10</td>
				<td>2</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>62</td>
				<td>27</td>
				<td>35</td>
				<td>2</td>
			</tr><tr><td>3</td>
				<td>GENT</td>
				<td>9</td>
				<td>2</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>49</td>
				<td>10</td>
				<td>39</td>
				<td>1</td>
			</tr><tr><td>4</td>
				<td>WALFERDANDE RC</td>
				<td>5</td>
				<td>2</td>
				<td>1</td>
				<td>0</td>
				<td>1</td>
				<td>25</td>
				<td>24</td>
				<td>1</td>
				<td>1</td>
			</tr><tr><td>5</td>
				<td>RC MONS</td>
				<td>4</td>
				<td>2</td>
				<td>1</td>
				<td>0</td>
				<td>1</td>
				<td>22</td>
				<td>46</td>
				<td>-24</td>
				<td>0</td>
			</tr><tr><td>6</td>
				<td>RUGBY MECHELEN</td>
				<td>1</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>2</td>
				<td>29</td>
				<td>47</td>
				<td>-18</td>
				<td>1</td>
			</tr><tr><td>7</td>
				<td>RC9 HEUSDEN ZOLDER</td>
				<td>0</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>2</td>
				<td>8</td>
				<td>64</td>
				<td>-56</td>
				<td>0</td>
			</tr><tr><td>8</td>
				<td>RC SCHILDE</td>
				<td>-1</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>2</td>
				<td>10</td>
				<td>42</td>
				<td>-32</td>
				<td>-1</td>
			</tr></tbody></table>
</div>