<div aria-labelledby="alastairModal" class="modal fade" id="alastairModal" role="dialog" tabindex="-1"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button aria-label="close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button><h4 class="modal-title">Alastair Sutton</h4></div><div class="modal-body"><p>Al played scrum half for BBRFC during the 1970s.</p><p>Mr. Alastair Sutton is a member of the English Bar and now
practices privately, having previously been a partner of
White & Case LLP, concentrating in the law and policy of
the European Union, international trade and English public
law, including actions before the European and English
courts involving EU law.</p><p>His practice focuses on EU economic and constitutional law
(especially involving EU "single market" law, competition
and state aids, intellectual property, the free movement
of goods, financial services, direct and indirect tax, and
monetary law), energy policy (especially nuclear, natural
gas and electricity), environmental protection,
agriculture, high-technology industries (especially in the
entertainment sector), automobiles, food, drink and
tobacco, textiles, steel and shipbuilding.</p><p>As a former EU trade negotiator, GATT/WTO (especially
dispute settlement) is also an important part of
Mr. Sutton's practice.</p><p>Mr. Sutton joins as another significant patron to the
BBRFC Celtic.</p></div><div class="modal-footer"><button class="btn btn-default" data-dismiss="modal">Close</button></div></div></div></div>