<div aria-labelledby="emmaModal" class="modal fade" id="emmaModal" role="dialog" tabindex="-1"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button aria-label="close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button><h4 class="modal-title">Emma McClarkin</h4></div><div class="modal-body"><p>As a keen rugby supporter and touch rugby player I am
delighted to become a patron of BBRFC Celtic – a “team
that demonstrates how rugby can bring people together for
fitness and friendship”.</p><p>Emma McClarkin MEP was first elected at the European
election, 2009 as a Conservative Party MEP making her, at
the age of 30, the youngest British MEP.</p><p>Emma was brought up in Stroud and attended her local
grammar school, Stroud Girls High School. She graduated
from Bournemouth University with a degree in Law and went
on to work as a Legal Clerk in a law firm.</p><p>Having been a member of the Conservative Party from an
early age, after working in the Law she decided it was
time to become more involved, and worked for the Party in
the East Midlands Region both as Press Officer to the
Conservative Party's East Midlands MEPs and as Political
Advisor to Roger HelmerMEP in the European Parliament in
Brussels.</p><p>From 2008 until elected in June 2009 Emma worked for the
Rugby Football Union as their Government Relations
Executive working with both MPs and MEPs to promote the
sport on a local, national and international stage.</p><p>Emma is now one of five elected MEPs for the East Midlands
region. Since elected Emma has been appointed Conservative
Spokesman and Coordinator on the Culture and Education and
Sport Committee in the European Parliament, as well as
being a member of the Internal Market and Consumer
Protection Committee and International Development
Committee.</p><p>Outside of work Emma’s interests include walking, the
countryside and photography. Emma is also a keen sports
fan and rugby follower and captained the Parliament’s
Touch Rugby team!</p></div><div class="modal-footer"><button class="btn btn-default" data-dismiss="modal">Close</button></div></div></div></div>