<div aria-labelledby="freddyModal" class="modal fade" id="freddyModal" role="dialog" tabindex="-1"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button aria-label="close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button><h4 class="modal-title">Freddy Thielemans</h4></div><div class="modal-body"><p>Freddy learnt to play rugby with BBRFC during the late
70's & early 80's as a prop and took part in the 1982
Vancouver Tour. He is currently Honorary Mayor of Brussels
and Honorary President of Brussels Expo (in charge of
International Relations). He is a Belgian socialist
politician who was Mayor of the City of Brussels from 2001
to 2013 and previously also for a period in 1994.</p><p>Born in Laeken in 1944, Freddy lived there during all his
childhood. From this, he developed deep ties to the
Brussels region and its way of life, a feeling of
belonging to a tradition flows in his veins: fan of the
Brussels dialect the Marollese (from the Marolles quarter)
which he spoke with his grandfather, having learnt its
diversity and culture mix through his mother, who was born
in the "Klein Brabant".</p><p>Freddy graduated in Commercial Sciences before working as
a teacher at various high schools in Brussels. His
political career started in 1983 when he worked on the
cabinet of Hervé Brouhon, then the mayor of
Brussels. Freddy became an alderman for the Parti
Socialiste in 1988, and mayor of Brussels between 1994 and
1995. He served in the Brussels Parliament from 1995 until
1999, when he became a member of the European
Parliament. After the municipal elections of 2000 Freddy
again became mayor of Brussels from early 2001; he
resigned in 2013 due to his age, and has been succeeded by
Yvan Mayeur.</p><p>Freddy is a member of BBRFC Celtic and in September 2014
was elected to the Board of the Belgian Rugby Union (FBRB)
and appointed as a Vice President.</p></div><div class="modal-footer"><button class="btn btn-default" data-dismiss="modal">Close</button></div></div></div></div>