<div aria-labelledby="martinModal" class="modal fade" id="martinModal" role="dialog" tabindex="-1"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button aria-label="close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button><h4 class="modal-title">Martin Blackwell</h4></div><div class="modal-body"><p>Martin played many seasons for BBRFC during the 70s and
80s.</p><p>From 1980 to 1983 he as was 1st team captain, and then
chairman of the club for several more years.</p><p>Mr. Martin Blackwell is now retired, but was a partner
with Ernst & Young in Belgium and has been a significant
patron for BBRFC Celtic for a number of years.</p><p>He is a well respected and prominent figure within the
British Community in Brussels.</p></div><div class="modal-footer"><button class="btn btn-default" data-dismiss="modal">Close</button></div></div></div></div>