<div aria-labelledby="stuartModal" class="modal fade" id="stuartModal" role="dialog" tabindex="-1"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button aria-label="close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button><h4 class="modal-title">Stuart Dowsett</h4></div><div class="modal-body"><p>Stuart came to Brussels in 1981 when he joined BBRFC and
played in the 3rd team for a couple of years before injury
curtailed his playing days. Previously he had spent 12
years at Saracens in North London appearing in the first
team as flanker from 1970-73 and then as hooker from
1978-81.</p><p>He held various positions on the committee of BBRFC for 30
years, being Chairman from 1986-88 and President between
1992 -2010.</p><p>He was responsible for organising several International
Charity Rugby Matches in Brussels during the years
1986-87-90-91 which brought to Belgium many of the most
famous Rugby players from the Five Nations of the 1970s
and early 1980's, to play against a ‘BBRFC Belgian Select’
side.</p><p>In 2006 he arranged for BBRFC to become a Saracens Partner
Club, following which Saracens have visited Brussels to
provide several coaching sessions, a major one taking
place prior to the Heineken Cup match against Racing Metro
played in Brussels in 2012, which Stuart helped
facilitate. In 2008 he arranged for the Barbarians to
train at the British School and then entertained them to
dinner (and beyond) prior to their match against Belgium.</p><p>Two of his children played for BBRFC before moving to the
UK to study and play rugby whilst at Loughborough
University. Son Craig played for England Students in 2013
and was England RFU Student player of the year in 2014 and
currently has a professional contract with
Rotherham. Daughter Laura captained Loughborough
University Ladies 2013-14, was a member of RFU Midlands
Women’s Academy 2012-14 and now London & SE Academy
2014-15, currently playing for Saracens Women.</p><p>With a degree in Physics from Manchester University,
Stuart started as a software engineer with STC in the UK,
later joining ITT in Brussels in programme management
roles, then spent 3 years as a consultant in the European
Commission, before establishing EUROCITY in
1992. Essentially retiring in 2013 he still has an
interest in EUROCITY, who are proud to sponsor BBRFC
Celtic, as the current MD Sean MacMahon is himself a
former Brussels Celtic player.</p><p>During Stuart’s retirement he has continued involvement in
charity work: committee member of the Brussels British
Community Association (BBCA); on the organising committee
of the Duchess of Richmond Ball (DoRB) ; member the Orbit
Village Charity team in Brussels (several BBRFC former
players - supporting an orphanage and school in Kenya).</p><p>Stuart has recently re-started “playing” Rugby again for
Old Vulgarians during the Golden Oldies World Rugby
Festivals in Japan 2012 and Argentina 2014 !!</p></div><div class="modal-footer"><button class="btn btn-default" data-dismiss="modal">Close</button></div></div></div></div>